<div class="table-header">
  <div class="total">Total: {{products.length}} product<span *ngIf="products.length != 1">s</span></div>
  <div class="button-actions">
    <button class="btn primary" (click)="addProduct()">Add Product</button>
  </div>
</div>

<table id="products">
  <th>Code</th>
  <th>Quantity</th>
  <th>Floor</th>
  <th>Section</th>
  <th>Action</th>
  <ng-container *ngIf="products.length; else noData">
    <tr *ngFor="let product of products; let i = index; trackBy:i">
      <td>{{product.code}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.floor}}</td>
      <td>{{product.section}}</td>
      <td (click)="editProduct(product.code)" class="text-center"><i class="fa fa-edit"></i></td>
    </tr>
  </ng-container>
  <ng-template #noData>
    <tr>
      <td colspan="5">No Data</td>
    </tr>
  </ng-template>
</table>
