@import "../../../styles/colors";

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-weight: 600;
}

.button-actions {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}

#products {
  border-collapse: collapse;
  width: 100%;
}

#products td,
#products th {
  border: 1px solid $grey2;
  padding: 8px;
}

#products tr:nth-child(even) {
  background-color: $light;
}

#products tr:hover {
  background-color: $grey2;
  cursor: pointer;
}

#products th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $red;
  color: $white;
}
