.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.mt40 {
  margin-top: 40px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb32 {
  margin-bottom: 32px;
}

.mr16 {
  margin-right: 16px;
}
