$red: rgb(255, 0, 30);
$green: rgb(139, 195, 74);
$white: rgb(255, 255, 255);
$grey: rgb(246 247 249);
$grey2: rgb(221 221 221);
$davy-grey: rgb(85 85 85);
$light: rgb(242 242 242);
$greybg: rgb(249 249 249);
